global !p
from javascript_snippet_helpers import *
endglobal

snippet cl "console.log(...)" b
console.log($0);
endsnippet

snippet req "require" b
const `!p
snip.rv = formatVariableName(t[1])
` = require('${1}');$0
endsnippet

